.register-design {
    min-height: 90svh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* background-color: blueviolet; */
    position: relative;
}

.register-card {
    padding-block: 2rem;
    /* background-color: aliceblue; */
}
.register-card h2 {
    padding-block: 1rem;
    /* margin: 0; */
}

.register-inputs {

}

.register-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* place-content: center; */
    /* place-items: center; */
    /* background-color: violet; */
    padding-block: 0.5rem;
}

.register-input-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.register-input-area p{
    position: absolute;
    right: calc(50% + 6rem);
    text-align: right;
}

.info-button-wrapper {
    position: absolute;
    left: calc(50% + 6em);
}

.register-info-button {

}

.register-input {
    
}

.register-field-error {
    border: 0.1rem solid red;
}

.register-msg {
    color: red;
}

.register-field-error-msg {
    color: red;
    height: 1rem;
}

.register-empty-error {
    height: 1rem;
}

.register-button {
    max-width: 7rem;
    margin-inline: auto;
    padding-block: 0.25rem;
    /* padding-inline: 0.5rem; */
    background-color: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-block: 0.5rem;
}

.register-redirect-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register-redirect-link {
    text-decoration:underline;
    color:rgb(36, 36, 189)
}