* {
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100vw;
}

.App-content-grid {
    display: grid;
    grid-template-columns: 1fr 15rem;
    /* grid-template-areas: "header" "main"; */
}